/* Utilities  */
:root {
    --white: #ffffff;
    --lightblue: #B4D0E7;
    --black: #000000;
    --blue: #0061FF;
    --brown: #61082B;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    background-color: var(--white);
    font-family: Arial, Helvetica, sans-serif;
}
html {
    scroll-behavior: smooth;
}

.container_wide {
    max-width: 1200px;
    margin: 0 auto;
}
.container_small {
    max-width: 1000px;
    margin: 120px auto;
}
.flexbox {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.start_flex {
    align-items: flex-start;
}
.column_flex {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
}
.column_start {
    justify-content: flex-start;
    gap: 20px;
}
.flexwrap {
    flex-wrap: wrap;
}
.stretch_items {
    align-items: stretch;
}



.btn {
    padding: 8px 14px;
    cursor: pointer;
    border: none;
    font-size: 18px;
    display: block;
}
.blue{ 
    background-color: var(--blue);
    color: white;
    transition: background-color 0.4s;
}
.white{
    background-color: var(--white);
    color: gray;
    border: 1px solid gray;
    transition: box-shadow 0.4s;
}
/* HEADER  */
header {
    max-width: 1920px;
}
.header_nav {
    width: 100%;
    height: 80px;
    background-color: var(--white);
    position: fixed;
    top: 0;
    left: 0;
    z-index: 9999;
    padding: 20px;
}
.header_nav a {
    text-decoration: none;
    color: gray;
    font-size: 1rem;
    padding: 0 1.7rem;
}

/* Hero section  */
#jumbo {
    width: 100%px;
    background-color: var(--lightblue);
    height:780px;
}
h1 {
    color: var(--black);
    font-size: 76px;
    padding: 20px;
}
#jumbo .container_wide {
    padding: 150px 0;
}
.jumbo_content_wrap {
    padding: 30px;
}
.jumbo_content_left {
    width: 30%;
    height: 400px;
}
.jumbo_content_left p {
    line-height: 1.5rem;
}
.jumbo_content_left i {
    font-size: 50px;
    padding: 20px;
}
.jumbo_content_left a {
    color: var(--black);
    transition: transform 0.4s linear;
}
.jumbo_content_right {
    width: 70%;
}
.jumbo_content_right img {
    width: 100%;
}

/* MAIN  */
main {
    max-width: 1920px;
    background-color: var(--white);
}
h2 {
    font-size: 40px;
    padding: 30px 0;
}
.labels {
    padding: 30px 0;
}
.labels label {
    padding-right: 20px;
}

/* PLANS*/
.plans {
    padding: 20px 0;
}
.plans_column {
    height: 960px;
    border: 1px solid lightgray;
    flex-basis: calc((100% - 100px) / 3);
    position: relative;
}
.column_head {
    display: block;
    text-align: center;
    padding: 10px;
    font-size: 16px;
    border-bottom: 1px solid lightgray;
}
.white_rectangle {
    background-color: white;
    height: 20px;
    width: 215px;
    position: absolute;
    bottom: 37%;
    right: 0;
}
.white_square {
    background-color: white;
    height: 20px;
    width: 30px;
    position: absolute;
    bottom: 37%;
    left: 0;
}

/* UPPER COLUMN  */
.column_upper {
    height: 550px;
    padding: 30px;
    border-bottom: 1px solid lightgray;
}
.column_upper span {
    color: gray;
    display: block;
    padding: 10px 0;
}

.column_upper button {
    align-self: stretch;
    font-size: 16px;
}
.column_upper a {
    color: var(--blue);
}
.column_upper p {
    text-indent: -10px;
    padding-left: 1.2em;
}
/* LOWER COLUMN  */
.lower_column {
    padding: 30px;
    height: 340px;
}
.lower_column h4 {
    font-size: 18px;
}
.lower_column i {
    color: var(--blue);
}
.lower_column p {
    text-indent: -10px;
    padding-left: 1.2em;
}


/* ENTERPRISE */
.enterprise {
    width: 100%;
    height: 260px;
    border: 1px solid lightgray;
    margin: 40px 0;
}
.enterprise_left {
    width: 70%;
    padding: 30px;
    height: 220px;
}
.enterprise_left h5 {
    font-size: 14px;
    padding-bottom: 25px;
}
.enterprise_left p {
    color: gray;
    font-size: 15px;
}

.enterprise_right {
    width: 30%;
    height: 220px;
    padding: 30px;
    text-align: center;
}
.enterprise_right button {
    width: 100%;

}
h3 {
    font-size: 26px;
}

/* Section 2  */
#find_partner {
    padding: 100px 0;
}
.partner_left {
    width: 60%;
}
.partner_left img {
    width: 100%;
}
.partner_right {
    width: 40%;
    padding: 55px 40px;
}
.partner_right p {
    padding: 15px 0 30px 0;
    line-height: 1.4rem;
}

/* Section 3  */
#dropbox_features {
    padding-top: 20px;
}
.card_container {
    padding: 30px 0;
}
.card_box {
    width: calc((100% - 80px) / 3);
    transition: all 0.7s;
}
.card_box img {
    width: 100%;
    padding: 20px 0;
}
.card_box h3{
    padding: 10px 0;
}
.card_box p {
    padding: 20px 0;
    line-height: 1.4rem;
}

/* Section 4 */
#about_our_clients {
    width: 60%;
    padding: 80px 0;
}
#about_our_clients a {
    padding-top: 40px ;
    color: var(--blue);
    font-size: 18px;
    display: block;
}

/* Section 5 */
.flex_square {
    display: flex;
}
#squares_section {
    width: 100%;
    height: 33vw;
    background-color: #F5F5F5;
}

.big_square {
    width: calc(100% / 3);
}

.inner_square {
    width: 50%;
    height: calc(33vw / 2);
    line-height: calc(33vw / 2);
    text-align: center;
}
/* COLORI QUADRATI  */
.green_sq {
    background-color: #A2D39B;
    border: 20px solid #D1E9CD;
}
.brown_sq {
    background-color: #61082B;
}
.cyan_sq {
    background-color: #0093CE;
}
.red_sq {
    background-color: #FF1C1C;
}
.dark_red_sq {
    background-color: #D5001F;
}
.blue_sq {
    background-color: #0D2481;
}
.yellow_sq {
    background-color: #FFD830;
}
.heavenly_sq {
    background-color: var(--lightblue);
}
.mid_content {
    padding: 0 40px;
    height: 33vw;
    overflow-y: auto;
}
.mid_sq_image {
    border-bottom: 1px solid gray;
    padding: 40px 0;
}
.mid_sq_image img {
    width: 50%;
}
.mid_sq_text p {
    padding: 45px 0;
    line-height: 1.5rem;
}
.inner_square img {
    width: 50%;
    filter: invert(1);
    vertical-align: middle;
}

/* Section 6  */

#free_trial {
    height: 360px;
    background-color: var(--lightblue);
}
.trial_wrap {
    max-width: 1000px;
    margin: 0 auto;
    height: 360px;
}
.trial_left {
    width: 55%;
}
.trial_left h2 {
    color: var(--brown);
}
.trial_right button {
    border: none;
    color: var(--black);
    padding: 15px 30px;
    margin-bottom: 30px;
}

/* Section 7  */
.faq_section {
    border-bottom: 1px solid black;
    cursor: pointer;
}
.faq_section p {
    display: none;
    padding: 20px 0;
    line-height: 1.4rem;
    color: gray;
}
.faq_text {
    padding: 20px 0;
    min-height: 100px;
}

/* Footer  */
footer {
    width: 100%;
    height: 570px;
    background-color: var(--black);
    color: var(--white);
    position: relative;
}
footer ul {
    list-style: none;
}
.foot_list_wrap {
    border-bottom: 1px solid white;
    padding: 80px 0;
    height: 450px;
}
.foot_list_wrap span {
    font-size: 26px;
    font-weight: 600;
    padding-bottom: 20px;
}
.foot_list_wrap li {
    padding: 10px 0;
}
.black_rectangle {
    background-color: var(--black);
    height: 50px;
    width: 1350px;
    position: absolute;
    bottom: 15%;
    right: 0;

}
.bottom_footer {
    height: 120px;
    line-height: 120px;
    color: lightslategray;
}
.bottom_footer span {
    padding-right: 5px;
}

/* Effetti  */

.blue:hover {
    background-color: rgb(76, 121, 247);
}
.white:hover {
    box-shadow: 2px 2px 8px lightgray;
}
.foot_list_wrap li:hover {
    text-decoration: underline;
    cursor: pointer;
}

.trial_right button {
    transition: transform 0.4s linear;
}
.trial_right button:hover {
    transform: scale(1.05);
    color: var(--blue);
    box-shadow: none;
}
#about_our_clients a:hover {
    text-decoration-color: var(--lightblue);
}
.jumbo_content_left a:hover {
    transform: translateY(-0.5rem);
    color: var(--blue);
}
.faq_section:hover p {
    display:block;
}
span.chev_down {
    transition: transform 0.4s;
}
.faq_section:hover span.chev_down{
    transform: rotate(180deg);
}

.nav_left a , .nav_right a {
    transition: all 0.7s ;
}
.nav_left a:hover , .nav_right a:not(:last-child):hover {
    background-color: #f1eee7;
    padding: 27px;
    border-radius: 5px;
    color: var(--black);
}

.card_box:hover {
    box-shadow: 2px 2px 8px 2px lightgray;
    padding: 10px;
    cursor: pointer;
    border-radius: 5px;
}