/* Utilities  */
:root {
    --white: #ffffff;
    --lightblue: #B4D0E7;
    --black: #000000;
    --blue: #0061FF;
    --brown: #61082B;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    background-color: var(--white);
    font-family: Arial, Helvetica, sans-serif;
    width: 1920px;
}

.container_wide {
    max-width: 1200px;
    margin: 0 auto;
}
.container_small {
    max-width: 1000px;
    margin: 120px auto;
}
.flexbox {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.start_flex {
    align-items: flex-start;
}
.column_flex {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
}
.column_start {
    justify-content: flex-start;
    gap: 20px;
}
.flexwrap {
    flex-wrap: wrap;
}
.stretch_items {
    align-items: stretch;
}


.btn {
    padding: 8px 14px;
    cursor: pointer;
    border: none;
    font-size: 18px;
}
.blue{ 
    background-color: var(--blue);
    color: white;
}
.white{
    background-color: var(--white);
    color: gray;
    border: 1px solid gray;
}
/* HEADER  */
header {
    width: 1920px;
}
.header_nav {
    width: 100%;
    height: 80px;
    background-color: var(--white);
    position: fixed;
    top: 0;
    left: 0;
    z-index: 9999;
    padding: 20px;
}
.header_nav a {
    text-decoration: none;
    color: gray;
    font-size: 1rem;
    padding: 0 1.7rem;
}

/* Hero section  */
#jumbo {
    width: 100%px;
    background-color: var(--lightblue);
    height:780px;
}
h1 {
    color: var(--black);
    font-size: 76px;
    padding: 20px;
}
#jumbo .container_wide {
    padding: 150px 0;
}
.jumbo_content_wrap {
    padding: 30px;
}
.jumbo_content_left {
    width: 30%;
    height: 400px;
}
.jumbo_content_left p {
    line-height: 1.5rem;
}
.jumbo_content_left i {
    font-size: 50px;
    padding: 20px;
}
.jumbo_content_right {
    width: 70%;
}
.jumbo_content_right img {
    width: 100%;
}

/* MAIN  */
main {
    width: 1920px;
    background-color: var(--white);
}
h2 {
    font-size: 40px;
    padding: 30px 0;
}
.labels {
    padding: 30px 0;
}
.labels label {
    padding-right: 20px;
}

/* PLANS*/
.plans {
    padding: 20px 0;
}
.plans_column {
    height: 960px;
    border: 1px solid lightgray;
    flex-basis: calc((100% - 100px) / 3);
    position: relative;
}
.column_head {
    display: block;
    text-align: center;
    padding: 10px;
    font-size: 16px;
    border-bottom: 1px solid lightgray;
}
.white_rectangle {
    background-color: white;
    height: 20px;
    width: 215px;
    position: absolute;
    bottom: 37%;
    right: 0;
}
.white_square {
    background-color: white;
    height: 20px;
    width: 30px;
    position: absolute;
    bottom: 37%;
    left: 0;
}

/* UPPER COLUMN  */
.column_upper {
    height: 550px;
    padding: 30px;
    border-bottom: 1px solid lightgray;
}
.column_upper span {
    color: gray;
    display: block;
    padding: 10px 0;
}

.column_upper button {
    align-self: stretch;
    font-size: 16px;
}
.column_upper a {
    color: var(--blue);
}
/* LOWER COLUMN  */
.lower_column {
    padding: 30px;
    height: 340px;
}
.lower_column h4 {
    font-size: 18px;
}
.lower_column i {
    color: var(--blue);
}

/* ENTERPRISE */
.enterprise {
    width: 100%;
    height: 260px;
    border: 1px solid lightgray;
    margin: 40px 0;
}
.enterprise_left {
    width: 70%;
    padding: 30px;
    height: 220px;
}
.enterprise_left h5 {
    font-size: 14px;
    padding-bottom: 25px;
}
.enterprise_left p {
    color: gray;
    font-size: 15px;
}

.enterprise_right {
    width: 30%;
    height: 220px;
    padding: 30px;
    text-align: center;
}
.enterprise_right button {
    width: 100%;

}
h3 {
    font-size: 26px;
}

/* Section 2  */
#find_partner {
    padding: 100px 0;
}
.partner_left {
    width: 60%;
}
.partner_left img {
    width: 100%;
}
.partner_right {
    width: 40%;
    padding: 55px 40px;
}
.partner_right p {
    padding: 15px 0 30px 0;
    line-height: 1.4rem;
}

/* Section 3  */
#dropbox_features {
    padding-top: 20px;
}
.card_container {
    padding: 30px 0;
}
.card_box {
    width: calc((100% - 80px) / 3);
}
.card_box img {
    width: 100%;
    padding: 20px 0;
}
.card_box h3{
    padding: 10px 0;
}
.card_box p {
    padding: 20px 0;
    line-height: 1.4rem;
}

/* Section 4 */
#about_our_clients {
    width: 60%;
    padding: 80px 0;
}
#about_our_clients a {
    padding-top: 40px ;
    color: var(--blue);
    font-size: 18px;
    display: block;
}



/* Section 6  */

#free_trial {
    height: 360px;
    background-color: var(--lightblue);
}
.trial_wrap {
    max-width: 1000px;
    margin: 0 auto;
    height: 360px;
}
.trial_left {
    width: 55%;
}
.trial_left h2 {
    color: var(--brown);
}
.trial_right button {
    border: none;
    color: var(--black);
    padding: 15px 30px;
    margin-bottom: 30px;
}

/* Section 7  */
.faq_section {
    border-bottom: 1px solid black;
}
.faq_section p {
    display: none;
}
.faq_text {
    padding: 20px 0;
    min-height: 100px;
}

/* Footer  */
footer {
    width: 100%;
    height: 570px;
    background-color: var(--black);
    color: var(--white);
    position: relative;
}
footer ul {
    list-style: none;
}
.foot_list_wrap {
    border-bottom: 1px solid white;
    padding: 80px 0;
    height: 450px;
}
.foot_list_wrap span {
    font-size: 26px;
    font-weight: 600;
    padding-bottom: 20px;
}
.foot_list_wrap li {
    padding: 10px 0;
}
.black_rectangle {
    background-color: var(--black);
    height: 50px;
    width: 1420px;
    position: absolute;
    bottom: 15%;
    right: 0;

}
.bottom_footer {
    height: 120px;
    line-height: 120px;
    color: lightslategray;
}
.bottom_footer span {
    padding-right: 5px;
}


